<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.2.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd        
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd">

	<!-- 引入配置文件 -->
	<context:property-placeholder location="classpath*:properties/*.properties" />

	<!-- 引入spring配置 -->
	<import resource="classpath:spring/spring-redis.xml" />
	
	<!-- 引入websocket配置 -->
	<import resource="classpath:spring/websocket/spring-netty-websocket.xml"/>

	<!-- 配置数据源 -->
	<bean id="mysqlDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>${mysql.jdbc.url}</value>
		</property>
		<property name="user">
			<value>${mysql.user}</value>
		</property>
		<property name="password">
			<value>${mysql.pwd}</value>
		</property>
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="200" />
		<property name="preferredTestQuery" value="1" />
		<property name="breakAfterAcquireFailure" value="false" />
		<property name="connectionTesterClassName"
			value="com.mchange.v2.c3p0.impl.DefaultConnectionTester" />
		<property name="idleConnectionTestPeriod" value="1800" />
		<property name="acquireIncrement" value="5" />
		<property name="maxIdleTime" value="3600" />
		<property name="maxIdleTimeExcessConnections" value="600" />
		<property name="initialPoolSize" value="2" />
		<property name="acquireRetryAttempts" value="0" />
		<property name="acquireRetryDelay" value="30000" />
		<property name="testConnectionOnCheckout" value="false" />
		<property name="testConnectionOnCheckin" value="true" />
		<property name="checkoutTimeout" value="5000" />
	</bean>

	<!-- 配置 SessionBean -->
	<bean id="mysqlSqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:spring/spring-mybatis.xml" />
		<property name="mapperLocations" value="classpath*:mapping/*/*.xml" />
		<property name="dataSource" ref="mysqlDataSource" />
	</bean>

	<!-- 配置事务 -->
	<bean id="mysqlTransaction"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="mysqlDataSource" />
	</bean>

	<!-- DAO -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com/game/chess/dao" />
		<property name="markerInterface" value="com.game.chess.dao.BaseMapper" />
		<property name="sqlSessionFactoryBeanName" value="mysqlSqlSession" />
	</bean>
	<context:component-scan base-package="com.game.chess.dao" />

	<!-- Service -->
	<context:component-scan base-package="com.game.chess.service" />

	<!-- Service 切面 -->
	<bean id="serviceAspect" class="com.game.chess.common.aop.ServiceAspect" />
	
	<!-- Session -->
	<context:component-scan base-package="com.game.chess.common.session" />

	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="mysqlTransaction" proxy-target-class="true" />

</beans>